<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>s</title>
    <link rel="stylesheet" href="../static/css/fullpage.css" />
    <script src="../static/JS/fullpage.js"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js">
        // vanilla JavaScript

new fullpage('#fullpage', {

    // options here

});

    </script>

</head>
<body>
<div id="fullpage">

  <div class="section">One</div>

  <div class="section">Two</div>

  <div class="section">Three</div>

</div>

</body>
</html>